.right-down{
    position:relative; 
    bottom: 0;
}

.celcius{
    position: relative;
}

.header-img{
    background:linear-gradient(0deg, rgba(0 0 0 / 100%), rgba(0 0 0 / 30%)), url("../Assets/HTML&CSS/GeneralImages&Icons/background.svg");
    color: rgb(255 255 255 /  90%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-content:flex-end ;
    position: relative;
    padding-bottom:5%;
}

.option-select{
    position: absolute; 
    bottom: 0;
     width: 200px;
      color: aliceblue;
       font-size: 25px; 
       height: 45px;
        border: none;
        text-align: center ;
        background-color: rgba(253 253 253 / 11.6%); 
}

.top-segment{
    display: grid;
    grid-auto-rows: minmax(5vh,auto);
    grid-gap: 1.5vw;
    height: 80%;
    padding: 1vh ;
    position: relative;
    width: 100%;
    animation: animtop 2s 1;
    animation-timing-function: ease;
}

.top-front{
   display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw;
} 

.top-middle{      
    display: grid;
     font-size: 14px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-auto-flow:column;
    position: relative;
}

.middle-segment{
    background-color: black;
    margin-top: -4%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: sticky;
    z-index: 11;
}

.midsegment-top{
    color: white;
    display:grid ;
    grid-template-columns: 3fr 1.5fr;
    height: auto;
    position: sticky;
    top:0;
    background-color: rgb(0 0 0);
    z-index: 20;
}


.top-heading{
    display: flex;
    padding: 0 10% 0 55%; 
    font-size: 20px;
    color: rgb(255 255 255 / 70%);
    align-items: center;
    align-content:center;
    font-weight: 5;
}

.top-icons{
    padding: 7px;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    align-items: end;
    justify-content: space-evenly;
}

#sunny-ic{
    border-bottom: 2px solid rgb(8  196 243);
    padding:2px;
}

#sunny-ic, #snowflake-ic, #rainy-ic:hover{
    cursor: pointer;

}

#display-top{
    display: flex;
     align-self: center;
     color: rgb(255 255 255 / 70%);
     font-size: 11px;
    margin: 10px;
     flex-wrap: nowrap;
}

#select-icon{
    display: flex; 
    background-color: rgb(255 255 255 / 15%);
     width: 30px;
     height: 13px;
     color: rgb(255 255 255 );
    align-self:center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{   opacity:1;
    background-color: rgb(255 255 255 / 50%);
}

.scroll-itemshorz{
       margin-top: 3vh;
       box-sizing: border-box;
       width: 100%;
        padding-left: 0;
        padding-right: 0;
       display: grid;
       grid-template-columns: 0.5fr 5fr 0.5fr;
}

.left-arrow,.right-arrow{
       display: flex;
       align-items: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        height: 85%;
        width: 3vw;
       align-content: center;
}

.left-arr{
    width: 8vw; 
    height: 8vh;
}
   
.left-arrow{
       position: relative;
       animation: scrollitemsanimarrowleft 3s 1;
       animation-timing-function: ease;
}
   
.right-arrow{
         position: relative;
         animation: scrollitemsanimarrowright 3s 1;
         animation-timing-function: ease;
}

.items-container{
       display: flex;
       justify-content: space-between;
       width: 100%;
       height: 100%;
       overflow-x: auto;
       white-space: nowrap;
}

.items-container::-webkit-scrollbar{
    width: 0;
    height: 0;
    background: transparent;

}

 .items-scroll{
       background: url("/Assets/HTML&CSS/Icons_for_cities/troll.svg"), rgba(255 255 255 / 5%) ;
       shape-image-threshold: initial;
       bottom: 0;
       right: 0;
       background-size:cover;
       background-repeat: no-repeat;
       width:250px;
       height: 250px;
       display: grid;
       min-width:200px;
       color: aliceblue;
       grid-template-columns:1fr 1fr ;
       position: relative;
       animation: scrollitemsanim 1s 1;
       animation-timing-function:ease-out;
       flex-shrink: 0;
       margin-right: 20px ;
   }
   
   
.item3,.item4, .item1,.item2,.item5{
       position: relative;
       animation: scrollitemsanimright 3s 1;
       animation-timing-function: ease;
   }
   
   
.items-scroll:hover{ 
     box-shadow: 2px 2px 10px rgb(70 70 67);
     background-color: rgba(10 10 10 / 80%);
     transform: scale(1.02);

   }

.items-leftpart{
        height: 80%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
   }

.items-rightpart{
               padding: 5px;
           }
        
.scrollitem-humidinfo,.scrollitem-precipinfo,.items-rightpart{
               display: flex;
   }

.sunny-icon{
               height: 20px;
               width: 20px;
}


#cel-info{
    position:absolute; 
     bottom:0;
    right:0;
    margin-bottom: 10px;
    padding: 10px;
    border-right: 2px dotted rgba(252 252  252 / 20%); 
}

#temp-c{
    margin: 0;
    font-weight: 500;
    font-size:1.5em ;
    color: rgb(255 255 255 /  70%);
}

#tempc-val{
    margin: 0;
    font-size:1.5em ;
}

.farenh{
    position: relative;
}

#farenh-info{
    position:absolute;  
    top:0;
     right:0;
     margin-top: 10px;
     padding: 10px;
      border-right: 2px dotted  rgba(252 252 252 / 20%);
}

#temp-f{
    margin: 0; 
    font-weight: 500; 
    font-size:1.5em ;
    color: rgb(255 255 255 / 70%);
}

#tempf-val{
    margin: 0;
    font-size:1.5em ;
}

.humid{
    position: relative; 
    
}

#humid-infos{
    position:absolute;
     bottom:0;
      left:0;
       margin-bottom: 10px;
       padding: 10px;
}

#humid-text{
    font-weight: 500;
     color: rgb(255 255 255 / 70%);
     font-size:1.5em ;
}

#humid-val{
    font-size:1.5em ;
}
 
.precip{
position: relative;
}

.city-select{
    position: relative;
}

#precip-infos{
    position:absolute;
    top:0; 
    left:0;
    margin-top: 10px;
    padding: 10px;
}

#precip-text{
    font-weight: 500;
     color: rgb(255 255 255 / 70%);
     font-size:1.5em ;
}

#precip-val{
    font-size:1.5em ;
}

.top-end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#time{
    display:flex;
}

small{
    font-size: 20px;
}

#time-text{
   color:rgb(231 231 130);
    display:flex;
     justify-content: flex-end;
      align-items: end;
       justify-items: end;
        font-size: 1.5em;
}

#time-img{  
    display: flex;
     align-items: center; 
     padding: 2px;
      width:50px;
       height: 50px;
       margin-bottom: -2%; 
}

#date-text{
    font-size: 1.5em;
}

#top-img{
   height: 100px;
   width: 100px;
   padding: 0;
   position: relative;
   animation: animtopimg 2s 1;
   animation-timing-function: ease-in-out;
   margin-left: 0;
}

.topic{
    width: 30px;
    height: 30px;
}

#humid-infos, #precip-infos, #farenh-info, #cel-info{
    font-size: 1em;
}

.top-img1{
    margin-left: 0;
    justify-self: end;
   align-self: flex-end;
}

.topscroll-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    height: 40%;
    width: 9%;
    color: rgb(255 255 255 / 60%);
    font-size: 1em;
}

.topscroll-items:hover { 
    color: rgb(255 255 255);
    height: 60%;
}

.item-time{
    height:15%;
    }

.pipe{ 
    justify-content: center;
    align-items:center ;
    height: 15%;
   }

.scroll-icon{
    height:15%;
   }

.num{
    height:15%;
   }

.pipe,.scroll-icon,.final-item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
   }

.middle-middlesegment{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 0.5fr;
    align-content: end;
    color: rgb(254 254 252);
}

.continent-name,.temperature{
            display: flex;
            justify-content: end;
           }

.bottom-gridcontainer{ 
     margin-top: 30px;
     box-sizing: border-box;
    display: grid;
    grid-template-columns:0.5fr 5fr 0.5fr ;
    padding-bottom: 100px;
}

#downarr, #uparr{
    height: 15px; 
    width: 15px;
}

.bottom-itemscontainer{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
}

.bottom-left{
    position: relative;
    animation: mymove1 5s 1;
    animation-timing-function: ease;
}

.bottom-right{
    position: relative;
    animation: mymove2 5s 1;
    animation-timing-function: ease;
  }

.container-elements{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    height: 70px;
    padding: 5px;
    background: rgba(255 255 255 / 7%) ;
    color: white;
    box-shadow: 5px 5px 10px rgb(95 103 106);
}

.bottom-humidinfo{
    display:flex;
    justify-content: end;
    align-items: start;
}

.bottom-temp{   
    font-size: 1.5em;
    display:flex;
    color: rgb(219 219 215);
    justify-content: end;
} 

.cont{
    color: rgb(197 197 115);
}

.container-elements:hover{   
    box-shadow: 5px 5px 10px  rgb(197 197 115);
   transform: scale(1.07);
}

.left-cloud{
    animation-name: animcloudleft ;
    animation-timing-function: ease-in-out;
    animation-duration: 40s;
    animation-delay: -5;
    animation-iteration-count:infinite;
     position: absolute;
      width: 30vw; 
      opacity: 0.3;
       height: 15vw;
}

.right-cloud{
    animation-name: animcloudright ;
    animation-timing-function: ease-in-out;
    animation-duration: 40s;
    animation-delay: -5;
    animation-iteration-count:infinite;
    position: absolute; 
    right: 0;
     width: 40vw;
      opacity: 0.3;
       height: 20vw;
    }

 .lightning{
        animation-name: animlightningleft ;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-iteration-count:infinite;
         position: absolute;
         width: 20vw; 
        opacity: 0;
        height: 40vh;
}

@keyframes animlightningleft {
    0% {
        opacity: -1;
        left: -20vw;
        width: 30vw;
        height: 60vh;
    }
    
    30% {
        opacity: -1;
        top:5vh;
        left:20vw;
        width: 30vw;
        height: 60vh;
    }

    32%{
       left:20vw;
        top:5vh;
        opacity: 0.2;
        width: 30vw;
        height: 60vh;
    }

    34%{
        left:20vw;
        top:5vh;
        opacity:-1;
        width: 25vw;
        height: 40vh;
     }

    69%{
        left:60vw;
        top:0.1vh;
        opacity:-1
    }

    70%{
      left:60vw;
        opacity: 0.1;
    }

    72%{    
        left:60vw;
        opacity: -1;
    }

    80%{
        left:65vw;
        top:-10vh;
        opacity:-1;
        width: 30vw;
        height: 50vh;
    }

    82%{
        left:65vw;
        opacity: 0.2;
    }

    83%{
        left:65vw;
        opacity: -1;
    }

    100%{   
         left:70vw;
        opacity: -1;
    }

}

@keyframes mymove1{
    from {left: -100px;}
    to {left: 1px;}
}

@keyframes mymove2 {
    from {right: -100px;}
    to {right: 1px;}
}



@keyframes animcloudright {
    0% { top: 1vh;
        right: 1vw;
        opacity: 0.1;}
  
    50%{right:50vw;
          top:8vh;
          opacity: 0.5;
    }
   
    100%
    {
        right:100vw;
        top:1vh;
        opacity: 0.2;
    }
}

@keyframes animtop 
    {
        from {top: -50px;}
        to {top: 1px;}
    }

@keyframes animtopimg
    {
        from {left: -50px;}
        to {left: 1px;}
    }
    
@keyframes animcloudleft {
        from {
            left: -20vw;
              opacity: 0.2;
        }
        
        to {
            left:70vw; 
            opacity: 0.1;
        }
}

@keyframes scrollitemsanimarrowleft 
{
    from {left: -100px;}
    to {left: 1px;}
   
  }

  @keyframes scrollitemsanimarrowright
  {
     from {right: -100px;}
     to {right: 1px;}
    
   }

   @keyframes scrollitemsanimleft {
    from {left: -100px;}
    to {left: 1px;}
   
  }

  @keyframes scrollitemsanimright {
    from {right: -100px;}
    to {right: 1px;}
   
  }
 










@media (width>=1100px){
    .top-segment {
        grid-template-columns:1.7fr 1.4fr 3.1fr;
    }
}

@media ( width<1100px)
{   .top-segment{
    width: 100%;
     height: 90%;
      grid-template: "a b" 1fr
                     "c c" 1fr / 2fr 2fr ;
  }

  .bottom-itemscontainer
  {
    grid-template-columns: 1fr 1fr;
  }
   
  .continent-name
  {
    font-size: 0.9rem;
  }

  .temperature{
    font-size: 0.9rem;
  }

  .cities-text
  {font-size: 0.9rem;

  }

  .top-end{
    grid-area: c;
  }

   .top-heading{
    padding: 0 10% 0 40%;
    font-size: 1.2em;
   }

}


@media (width < 750px)
{  
     .bottom-itemscontainer{
         height: 350px;
       overflow-y:auto ;
       white-space: nowrap;
      grid-template-columns: 1fr;
      grid-gap:20px;
     }

  .bottom-itemscontainer::-webkit-scrollbar{
    width: 0;
    height: 0;
    background: transparent;
}

    .container-elements{
      margin-top: 1px;
      padding: 5px;
}
 
.container-elements:hover{
     box-shadow: 5px 5px 10px  rgb(197 197 115);
      transform: scale(1.003);
     
     
  }

  .bottom-gridcontainer{
    grid-template-columns: 1fr 5fr 1fr;
  }
  
    .middle-segment{
        margin-top: -10%;
    }
    
    .middle-middlesegment
    {    display: grid;
        grid-template: ". a a ." 1fr
                              ". b c ." 1fr / 0.5fr 1fr 1fr 0.5fr;
        grid-gap:15px ;
       
    }

    .continent-name{
       display: flex;
        justify-content: start;
        grid-area: b;  
    }

    .temperature{
          display: flex;
        justify-content: end;
        grid-area: c;  
    }

    #cities-text{
          width: 100%;
        display: flex;
        justify-content: center;
        grid-area: a;
        font-size: 1.2em;
    }

   .top-heading{
        padding: 0;
         align-items: center;
        justify-content: center;
        font-size: 1.3em;
        padding-bottom: 10px;
    }

    #display-top{
        font-size: 0.8em;
    }

    .midsegment-top{  
          grid-row: 1fr 1fr;
        grid-template-columns: 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .top-icons{
        padding:0 7%;
         align-items: center;
         justify-content: center;
         justify-items: center;
        }

    .top-segment{
      width: 100%;
       height: 90%;
        grid-template: "a b" 1fr
                       "c c" 1fr / 2fr 2fr ;
    }

    .top-front{
       grid-area: a;
       grid-template: "x y" 1fr 
                            "z z" 1fr / 1fr 1fr;
     }

    .top-img1{
        justify-self: center;
        grid-area:x ;
        
      }

     #top-img{
        display: flex;
        width: 70px;
        height: 70px;
        align-self: flex-end;
        align-items: end;
        align-content: end;
     }

    .city-select{  
        grid-area:y;   
    }

    .option-select{  
         font-size: 1.2em;
        width: 130px;
        height: 40px;
    }

    #rightdown {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area:z;  
    }

     #time {
         display: flex; 
         justify-content: flex-start;
        align-items: end;
     }

     #date{
        margin-top: 10px;
          display: flex; 
        align-items: end;
        justify-content: flex-start;
        font-size: 0.7em;
     }

     #date-text {
        font-size: 1.2em;
     }

     #time-text{
        font-size: 1.2em;
     }

     small{
        font-size: 0.7em;
     }

     #time-img{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: start;
     }

       #topmidddle{
        grid-area: b;
    }

    .top-end{
      grid-area: c;
    }

.header-img{
    padding-bottom: 10%;
}


.topscroll-items{
    height: 70%;
    font-size: 0.9em;
}

.scroll-itemshorz{
    grid-template-columns: 1fr 5fr 1fr; 
}

#humid-infos, #precip-infos, #farenh-info, #cel-info{
    font-size: 0.9em;
}

.left-arr,.right-arr{
    width:40px;
    height: 40px;
}

.left-cloud{
    animation-name: animcloudleft ;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-delay: -5;
    animation-iteration-count:infinite;
    width: 40vw;
    height: 30vh;
}

.right-cloud{
    animation-name: animcloudright ;
    animation-timing-function: ease-in-out;
    animation-duration: 40s;
    animation-delay: -5;
    animation-iteration-count:infinite;
    width: 50vw;
    height: 40vh;
}

.lightning{
    width: 30vw; 
    opacity: 0;
    height: 50vh;
}

@keyframes animlightningleft {
    0% {
        opacity: -1;
        left: -20vw;
        width: 40vw;
        height: 70vh;
    }
    
    30% {
        opacity: -1;
        top:5vh;
        left:20vw;
        width: 40vw;
        height: 70vh;
    }

    32%{
       left:20vw;
        top:5vh;
        opacity: 0.8;
        width: 40vw;
        height: 70vh;
    }

    34%{
        left:20vw;
        top:5vh;
        opacity:-1;
        width: 35vw;
        height: 50vh;
     }

    69%{
        left:50vw;
        top:0.1vh;
        opacity:-1
    }

    70%{
      left:50vw;
        opacity: 0.1;
    }

    72%{    
        left:50vw;
        opacity: -1;
    }

    80%{
        left:55vw;
        top:-10vh;
        opacity:-1;
        width: 40vw;
        height: 60vh;
    }

    82%{
        left:55vw;
        opacity: 0.2;
    }

    83%{
        left:55vw;
        opacity: -1;
    }

    100%{   
         left:60vw;
        opacity: -1;
    }

}

@keyframes animcloudleft {
    from {
        top: 20vh;
        left: -20vw;
          opacity: 0.2;
    }
    
    to {
        top: 20vh;
        left:55vw; 
        opacity: 0.1;
    }
 }

@keyframes animcloudright {
   0% { 
        top: 1vh;
        right: 1vw;
        opacity: 0.1;
    }
  
    50%{
        right:50vw;
          top:30vh;
          opacity: 0.5;
    }
   
    100%
    {
        right:100vw;
        top:1vh;
        opacity: 0.2;
    }
}



}
   
  